
.form-group {
   margin: 15px auto;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
 }
 

 .input-search {
   width: 100%;
   max-width: 300px;
   border: 1px solid #ccc;
   outline: none;
   height: 40px;
   border-radius: 8px;
   padding: 0 12px;
   font-size: 16px;
   cursor: pointer;
   transition: border-color 0.3s ease, box-shadow 0.3s ease;
 }
 
 .input-search:hover {
   border-color: #3d4144;
   box-shadow: 0 0 7px rgba(62, 64, 66, 0.5);
 }
 
 .input-search:focus {
   border-color: #51565a;
   box-shadow: 0 0 10px rgba(67, 69, 71, 0.7);
 }
 

 .btn {
   height: 40px;
   padding: 0 20px;
   background-color: #2e2f30;
   border: none;
   color: #fff;
   font-size: 15px;
   font-weight: 500;
   border-radius: 8px;
   cursor: pointer;
   transition: background-color 0.3s ease, transform 0.2s ease;
 }
 
 .btn:hover {
   background-color: #0c0c0c;
   transform: scale(1.05);
   color: #fff;
 }
 
 .btn-reset {
   background-color: #555a5e;
 }
 
 .btn-reset:hover {
   background-color: #5e666d;
 }

 .categories-container {
   height: 55px;
   margin: 20px auto;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 15px;
   padding: 15px;
   border-radius: 10px;
   background-color: #8a7d7d;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 }
 
 .categories-container button {
   padding: 10px 20px;
   background-color: #3d4144;
   color: white;
   border: none;
   border-radius: 5px;
   font-size: 14px;
   font-weight: 500;
   cursor: pointer;
   transition: background-color 0.3s ease, transform 0.2s ease;
 }
 
 .categories-container button:hover {
   background-color: #121213;
   transform: scale(1.05);
   color: #e0e0e0;
 }
 
 .categories-container button:focus {
   outline: none;
   box-shadow: 0 0 5px #121213;
 }
 
