body {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.h1{
  text-align: center;
  color: royalblue;
}
.list{
   color: blueviolet;
}
.btn{
  background-color: rgb(60, 168, 168);
  width: 100px;
  height: 35px;
  border-radius: 7px;
  transition: 0.5s;
  font-size: large;
}
.btn:hover{
  background-color: rgb(5, 248, 216);
}